{% extends 'index.html' %}
{% block title %} Home {% endblock %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Question</th>
                    <th>Up vote</th>
                    <th>Down vote</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                    <tr>
                        <td>{{ question.title|truncatewords:4 }}</td>
                        <td>{{ question.question|truncatewords:4 }}</td>
                        <td>{{ question.up_vote }}</td>
                        <td>{{ question.down_vote }}</td>
                        <td>
                            <a href="{% url 'api:page' %}?question_thread_id={{ question.id }}">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                            </a>
                            {% if user.user.is_authenticated and question.asked_by.id == user.id %}
                                <a href="{% url 'api:page' %}?question_id={{ question.id }}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
