{% extends 'index.html' %}
{% load static %}

{% block title %} Add New Question {% endblock %}

{% block body %}
    <br>
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <hr>
                        <form class="form" action="{% url 'api:question' %}" method="post" id="questionForm">
                            {% csrf_token %}
                            <input type="hidden" class="form-control" name="profile_id" id="profile_id" value="{{ user.id }}">
                            <input type="hidden" class="form-control" name="id" id="profile_id" value="{{ question.id }}">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" name="title" id="title" placeholder="Title" value="{{ question.title }}">
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="question">Description</label>
                                    <textarea rows="8" class="form-control" name="question" id="question"
                                              placeholder="Question in detail">{{ question.question }}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="tag">Tag</label>
                                    <select class="form-control" name="tag" id="select2">
                                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                                        {% for tag in tags %}
                                            <option value="{{ tag.id }}" {% if question.tag.first.id == tag.id %}selected{% endif %}>{{ tag.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success" type="submit"><i
                                            class="glyphicon glyphicon-ok-sign"></i> Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
        $("#questionForm").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
                title: "required",
                question: "required",
                tag: "required",
            },
            messages: {
                title: 'Enter Title',
                question: 'Enter Question',
                tag: 'Select Tag',
            },
            submitHandler: function(form, event) {
                var profileId = $("#profile_id").val();
                if(!profileId){
                    $.toaster({ priority : 'info', title : 'Profile', message : "Save your profile details first"});
                    return false
                }
                $.ajax({
                    url: form.action,
                    type: "POST",
                    data: $(form).serialize(),
                    async: false,
                    success: function (response) {
                        if (response.success) {
                            $.toaster({ priority : 'success', title : 'Question', message : response.reason});
                            window.setTimeout(function(){location.reload()}, 1000)
                        } else {
                            $.toaster({ priority : 'success', title : 'Question', message : response.reason});
                        }
                        event.preventDefault();
                    }, error: function (response) {
                        $.toaster({ priority : 'info', title : 'Question', message : JSON.parse(response.responseText).non_field_errors[0]});
                    }
                });
                return false;
            }
        });
    </script>
{% endblock %}
